[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
container-runtime-interface-api = {editable = true, path = "."}

[dev-packages]
build = "*"
exceptiongroup = "*" # Required for Python versions < 3.11
grpcio-tools = "~=1.47"
mypy = "*"
mypy-protobuf = "*"
pytest = "*"
ruff = "*"
tomli = "*" # Required for Python versions < 3.12
twine = "*"
types-protobuf = "*"
