[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
container-runtime-interface-api = {editable = true, path = "."}

[dev-packages]
black = "*"
exceptiongroup = "*" # Required for Python versions < 3.11
flake8 = "*"
grpcio-tools = "~=1.47"
importlib_metadata = "*" # Required for Python versions < 3.8
isort = "*"
mypy = "*"
mypy-protobuf = "*"
pre-commit = "*"
pytest = "*"
secretstorage = "*"
twine = "*"
types-protobuf = "*"
typing-extensions = "*" # Required for Python versions < 3.8
